requests==2.26.0
selenium==3.141.0
alpha_vantage==2.2.0
beautifulsoup4==4.9.3
dash==1.16.3
dash_core_components==1.12.1
dash_html_components==1.1.1
fhub==0.0.13
ipython==8.10.0
matplotlib==3.3.2
numpy==1.22.0
pandas==1.5.3
pykalman==0.9.5
pytz==2020.1
quantstats==0.0.45
seaborn==0.11.0
mysqlclient==1.4.6
websocket==0.2.1
investpy==1.0.7
yfinance==0.1.87